body
{
    background-color: #f1f1f1;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

header
{
    background-color: #fff;
    padding: 15px;
    box-shadow: 0 0 3px #000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 100;
}

header li
{
   display: inline; 
   padding-left: 45px;
}

header li a
{
    color: #333;
    text-decoration: none;
    padding: 13px;
    transition: .3s ease;
}

header li a:hover
{
    color: rgb(225, 156, 65);
}

header #login a
{
    color: #fff;
    background-color: #FF642F;
    border-radius: 10px;
    float: right;
    position: relative;
    top: -1px;
    transition: .3s ease;
    padding: 10px;
}
header #login a:hover
{
    background-color: goldenrod;
}

.active
{
    color: #FF642F;
    font-weight: 600;
}